      <div class="MainPage">
         <div class="apartment-details content-wrapper">
            <div class="container">
               <div class="pdpage-content">
                  <div class="row">
                     <div class="apartment-image-pd col-sm-8">
                        <img src="../images/pd-image.jpg" alt="image"/>
                     </div>
                     <div class="apartment-details-pd col-sm-4">
                        <div class="apartment-name-pd">
                           Park victoria Apartments
                        </div>
                        <div class="apartment-desc-pd">
                           Park victoria Apartments is very good . Aman lives here. He is god and universe is from him. He is creator and destroyer of the universe. He has third eye with which he can destroy anything.
                        </div>
                     </div>
                  </div>
               </div>
               <div class="tabs">
                  <ul>
                     <li class="parent-tabs active" onclick="switch_tabs(this,1)">Availability</li>
                     <li class="parent-tabs" onclick="switch_tabs(this,2)">Ameneties</li>
                     <li class="parent-tabs" onclick="switch_tabs(this,3)">Reviews</li>
                  </ul>
                  <div class="availability tabs-parent">
                     <div class="tabs-child active availability-tabs-details">
                        <div class="row">
                           <div class="adjustment show-room">
                              <div class="col-sm-3">
                                 <div class="Unitnumber">
                                    Unit number:410
                                 </div>
                                 <div class="shared">
                                    Shared
                                 </div>
                              </div>
                              <div class="col-sm-6">
                                 <img src="../images/vishwa.jpg" alt="image" class="col-sm-4 col-xs-4 "/>
                                 <img src="../images/aman.jpg" alt="image" class="col-sm-4 col-xs-4"/>
                              </div>
                              <div class="col-sm-3">
                                 <div class="Details-apartment col-sm-3">
                                    <div class="btn btn-outline-dark" onclick="book_now_click()">
                                       Details
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="adjustment show-room">
                              <div class="col-sm-3">
                                 <div class="Unitnumber">
                                    Unit number:410
                                 </div>
                                 <div class="shared">
                                    Shared
                                 </div>
                              </div>
                              <div class="col-sm-6">
                                 <img src="../images/asok.jpg" alt="image" class="col-sm-4 col-xs-4 "/>
                                 <img src="../images/aman.jpg" alt="image" class="col-sm-4 col-xs-4"/>
                              </div>
                              <div class="col-sm-3">
                                 <div class="Details-apartment col-sm-3">
                                    <div class="btn btn-outline-dark Details" onclick="book_now_click()">
                                       Details
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="adjustment show-room free">
                              <div class="col-sm-3">
                                 <div class="Unitnumber">
                                    Unit number:410
                                 </div>
                                 <div class="shared">
                                    Free
                                 </div>
                              </div>
                              <div class="col-sm-6">
                                 &#160;
                              </div>
                              <div class="col-sm-3">
                                 <div class="Details-apartment col-sm-3">
                                    <div class="btn btn-outline-dark Book" onclick="new_booking()">
                                       Book
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="adjustment show-room">
                              <div class="col-sm-3">
                                 <div class="Unitnumber">
                                    Unit number:410
                                 </div>
                                 <div class="shared">
                                    Shared
                                 </div>
                              </div>
                              <div class="col-sm-6">
                                 <img src="../images/aman.jpg" alt="image" class="col-sm-4 col-xs-4 "/>
                                 <img src="../images/shri.png" alt="image" class="col-sm-4 col-xs-4"/>
                              </div>
                              <div class="col-sm-3">
                                 <div class="Details-apartment col-sm-3">
                                    <div class="btn btn-outline-dark Details" onclick="book_now_click()">
                                       Details
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="amenities tabs-parent">
                     <div class="tabs-child  amenities-tabs-details">
                        <div class="row">
                           <div class="col-sm-8 amenetiees">
                              <div class="parking">
                                 <span>Car Park
                                 </span>
                                 <span>
                                 Paid
                                 </span>
                              </div>
                              <div class="heater">
                                 <span>Heater
                                 </span>
                                 <span>
                                 24 hrs
                                 </span>
                              </div>
                              <div class="gym">
                                 <span>Gym
                                 </span>
                                 <span>
                                 Yes
                                 </span>
                              </div>
                           </div>
                           <div class="col-sm-4">
                              <div class="Book-apartment-details">
                                 <div class="btn btn-outline-dark">
                                    Details
                                 </div>
                              </div>
                              <div class="Book-apartment">
                                 <div class="btn btn-outline-dark">
                                    Book
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="reviews tabs-parent">
                     <div class="tabs-child reviews-tabs-details">
                        <div class="overallreating">
                           <span>Overall Rating</span><span class="rating"> 3.4</span>
                        </div>
                        <div class="Recentratings">
                           <img src="../images/shri.png"alt="profile_pic"/>
                           <span>
                           No bed bugs! Some relief finally.
                           </span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="quick-view-details" style="padding: 0;">
         <div class="BookaPartment bg-dark" style="color: white;text-align: initial;">
               Apartment Details
            </div>
            <div class="close-quickview p05" style="color: white;">×</div>
            
         <div class="p1">
            <div class="row">
               <div class="friends adjustment">
                <div class="friend1 col-sm-6">
                  <img src="../images/aman.jpg"/>
                  <div>Aman Nagpal</div>
                 </div>
                 <div class="friend2 col-sm-6">
                  <img src="../images/vishwa.jpg"/>
                  <div>Bahubali-4</div>
                 </div>
               </div>
            </div>
            <div class="cost">
               Cost: CAD 320
            </div>
         <div class="row requext-button">
            <div class="btn btn-outline-dark">Request Accomodation</div>
         </div>
      </div>
   </div>
      <div class="free-view-details"  style="padding: 0;">
         <div class="BookaPartment bg-dark" style="color: white;text-align: initial;">
            Book Apartment
         </div>
         <div class="close-quickview p05" style="color: white;">×</div>
         <div class="p1">
            <div class="row">
             <div class="cost">
                Cost per month : 1350 CAD
             </div>
            </div>
            <div class="row requext-button">
               <div class="btn btn-outline-dark">Book</div>
            </div>
         </div>
         </div>
      
      <div class="hidden-xs overlay-layer">&nbsp;</div>
      <script >
      	$('.close-quickview, .overlay-layer').click(function(){
            $('.quick-view-details,.free-view-details, .overlay-layer, .ajax-loader').hide();
          });

      </script>