

<div class="MainPage">
   <div class="apartments content-wrapper">
      <div class="container">
         <div class="filter">
            <div class="row">
               <div class="results_near col-sm-4">
                  <label>Showing results near</label>
                  <select>
                     <option>Dalhousie University</option>
                     <option>SMU University</option>
                     <option>Walmart-Mumfford</option>
                     <option>Darthmouth</option>
                     <option>Costco</option>
                  </select>
               </div>
               <div class="type_of_room col-sm-4">
                  <label>Type of Room</label>
                  <select>
                     <option>1 BHK</option>
                     <option>2 BHK</option>
                     <option>3 BHK</option>
                     <option>Bungalow</option>
                     <option>Single Room</option>
                  </select>
               </div>
               <div class="cost_of_room col-sm-4">
                  <label>Cost</label>
                  <select>
                     <option>Any</option>
                     <option>Less than 500 CAD</option>
                     <option>500 CAD-1000 CAD</option>
                     <option>1000 CAD-2500 CAD</option>
                     <option>Above 2500 CAD</option>
                  </select>
               </div>
            </div>
            <div class="row">
               <div class="posession col-sm-4">
                  <label>Posession</label>
                  <select>
                     <option>Immediate</option>
                     <option>within 1 month </option>
                     <option>1-2 month</option>
                  </select>
               </div>
               <div class="sharing col-sm-4">
                  <label>Sharing</label>
                  <select>
                     <option>
                        Yeah
                     </option>
                     <option>
                        No 
                     </option>
                  </select>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="showing-results adjustment">
               <div class="border1 col-sm-2">
                  &#160;
               </div>
               <div class="total-results col-sm-2">
                  Showing 1135 results
               </div>
               <div class="border1 col-sm-8">
                  &#160;
               </div>
            </div>
         </div>
         <div class="apartment-result">
            <div class="row">
               <div class="apartmnet-result-detail adjustment">
                  <div class="apartment-image col-sm-3">
                     <img src="../images/apartment8.jpg" alt="Apartment_Image"/>
                  </div>
                  <div class="apartment-description col-sm-6">
                     <div class="apartment-name">
                        Park Victoria Apartments
                     </div>
                     <div class="apartment-availabillity">
                        Available:20
                     </div>
                     <div class="apartment-availabillity-type">
                        <span class="new">New:5</span>
                        <span class="new">Shared:15</span>
                     </div>
                  </div>
                  <div class="Book-apartment col-sm-3">
                     <div onclick="load_apartment_list()" class="btn btn-outline-dark">
                        Book
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="apartmnet-result-detail adjustment">
                  <div class="apartment-image col-sm-3">
                     <img src="../images/apartment8.jpg" alt="Apartment_Image"/>
                  </div>
                  <div class="apartment-description col-sm-6">
                     <div class="apartment-name">
                        Park Victoria Apartments
                     </div>
                     <div class="apartment-availabillity">
                        Available:20
                     </div>
                     <div class="apartment-availabillity-type">
                        <span class="new">New:5</span>
                        <span class="new">Shared:15</span>
                     </div>
                  </div>
                  <div class="Book-apartment col-sm-3">
                     <div onclick="load_apartment_list()" class="btn btn-outline-dark">
                        Book
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="apartmnet-result-detail adjustment">
                  <div class="apartment-image col-sm-3">
                     <img src="../images/apartment8.jpg" alt="Apartment_Image"/>
                  </div>
                  <div class="apartment-description col-sm-6">
                     <div class="apartment-name">
                        Park Victoria Apartments
                     </div>
                     <div class="apartment-availabillity">
                        Available:20
                     </div>
                     <div class="apartment-availabillity-type">
                        <span class="new">New:5</span>
                        <span class="new">Shared:15</span>
                     </div>
                  </div>
                  <div class="Book-apartment col-sm-3">
                     <div onclick="load_apartment_list()" class="btn btn-outline-dark">
                        Book
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="apartmnet-result-detail adjustment">
                  <div class="apartment-image col-sm-3">
                     <img src="../images/apartment8.jpg" alt="Apartment_Image"/>
                  </div>
                  <div class="apartment-description col-sm-6">
                     <div class="apartment-name">
                        Park Victoria Apartments
                     </div>
                     <div class="apartment-availabillity">
                        Available:20
                     </div>
                     <div class="apartment-availabillity-type">
                        <span class="new">New:5</span>
                        <span class="new">Shared:15</span>
                     </div>
                  </div>
                  <div class="Book-apartment col-sm-3">
                     <div onclick="load_apartment_list()" class="btn btn-outline-dark">
                        Book
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="apartmnet-result-detail adjustment">
                  <div class="apartment-image col-sm-3">
                     <img src="../images/apartment8.jpg" alt="Apartment_Image"/>
                  </div>
                  <div class="apartment-description col-sm-6">
                     <div class="apartment-name">
                        Park Victoria Apartments
                     </div>
                     <div class="apartment-availabillity">
                        Available:20
                     </div>
                     <div class="apartment-availabillity-type">
                        <span class="new">New:5</span>
                        <span class="new">Shared:15</span>
                     </div>
                  </div>
                  <div class="Book-apartment col-sm-3">
                     <div onclick="load_apartment_list()" class="btn btn-outline-dark">
                        Book
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="apartmnet-result-detail adjustment">
                  <div class="apartment-image col-sm-3">
                     <img src="../images/apartment8.jpg" alt="Apartment_Image"/>
                  </div>
                  <div class="apartment-description col-sm-6">
                     <div class="apartment-name">
                        Park Victoria Apartments
                     </div>
                     <div class="apartment-availabillity">
                        Available:20
                     </div>
                     <div class="apartment-availabillity-type">
                        <span class="new">New:5</span>
                        <span class="new">Shared:15</span>
                     </div>
                  </div>
                  <div class="Book-apartment col-sm-3">
                     <div onclick="load_apartment_list()" class="btn btn-outline-dark">
                        Book
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="apartmnet-result-detail adjustment">
                  <div class="apartment-image col-sm-3">
                     <img src="../images/apartment8.jpg" alt="Apartment_Image"/>
                  </div>
                  <div class="apartment-description col-sm-6">
                     <div class="apartment-name">
                        Park Victoria Apartments
                     </div>
                     <div class="apartment-availabillity">
                        Available:20
                     </div>
                     <div class="apartment-availabillity-type">
                        <span class="new">New:5</span>
                        <span class="new">Shared:15</span>
                     </div>
                  </div>
                  <div class="Book-apartment col-sm-3">
                     <div onclick="load_apartment_list()" class="btn btn-outline-dark">
                        Book
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

