<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tectum-Home Page</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet"/>
   <link rel="stylesheet" href="../css/tectum.css">
</head>
<body>
    <div class="LoginPage">

        <div class="container logincontainer">
            <h1 class="LoginHeader">Login</h1>
            
            <div class="row">
                <h2 class="emaillogin">Login With Email </h2>
                <form action="#" class="LoginForm">
                    <div class="Email">
                        <input type="text" placeholder="Email">
                    </div>


                    <div class="Password">
                        <input type="password" placeholder="Password">
                    </div>

                    <div>
                        <input type="submit" class="btn loginbtn" value="Login">&#160;</input>
                    </div>
                    <label>
                        <input type="checkbox" checked="checked" name="remember"> Remember me
                    </label>

                    <div>
                        <input type="reset" class="button cancelbtn" value="Cancel"></input>
                        <span class="psw"><a href="#"> Forgot Password ?</a></span>
                    </div>
                </form>
            </div>

            <div class="row">
                <h2 class="emaillogin"> Connect With Social Account</h2>
                <a href="#">
                    <img class="social-connect"alt="facebook" src="../images/facebook.png"> </a>
                
                <a href="#">
                    <img class="social-connect" alt="twitter" src="../images/twitter.png" ></a>
                <a href="#">
                    <img  class="social-connect" alt="google" src="../images/google-plus.png"> </a>
                              
            </div>
        </div>
    </div>
</body>
</html>
